<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testcontroller</servlet-name>
        <servlet-class>testclasses.testcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>testclasses.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>member</servlet-name>
        <servlet-class>testclasses.member</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainer</servlet-name>
        <servlet-class>testclasses.trainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>membercontroller</servlet-name>
        <servlet-class>testclasses.membercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberlogout</servlet-name>
        <servlet-class>testclasses.memberlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewmemberController</servlet-name>
        <servlet-class>testclasses.viewmemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewtrainerController</servlet-name>
        <servlet-class>testclasses.viewtrainerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletetrainer</servlet-name>
        <servlet-class>testclasses.Deletetrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewdeletetrainerController</servlet-name>
        <servlet-class>testclasses.viewdeletetrainerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatetrainer</servlet-name>
        <servlet-class>testclasses.Updatetrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edittrainer</servlet-name>
        <servlet-class>testclasses.Edittrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletemember</servlet-name>
        <servlet-class>testclasses.Deletemember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewdeletememberController</servlet-name>
        <servlet-class>testclasses.viewdeletememberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatemember</servlet-name>
        <servlet-class>testclasses.Updatemember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editmember</servlet-name>
        <servlet-class>testclasses.Editmember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewshiftController</servlet-name>
        <servlet-class>testclasses.viewshiftController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteshift</servlet-name>
        <servlet-class>testclasses.Deleteshift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewdeleteshiftController</servlet-name>
        <servlet-class>testclasses.viewdeleteshiftController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updateshift</servlet-name>
        <servlet-class>testclasses.Updateshift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editshift</servlet-name>
        <servlet-class>testclasses.Editshift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shift</servlet-name>
        <servlet-class>testclasses.shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainercontroller</servlet-name>
        <servlet-class>testclasses.trainercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainerlogout</servlet-name>
        <servlet-class>testclasses.trainerlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Memberattendance</servlet-name>
        <servlet-class>testclasses.Memberattendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testcontroller</servlet-name>
        <url-pattern>/testcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>member</servlet-name>
        <url-pattern>/member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainer</servlet-name>
        <url-pattern>/trainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>membercontroller</servlet-name>
        <url-pattern>/membercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberlogout</servlet-name>
        <url-pattern>/memberlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewmemberController</servlet-name>
        <url-pattern>/viewmemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewtrainerController</servlet-name>
        <url-pattern>/viewtrainerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletetrainer</servlet-name>
        <url-pattern>/Deletetrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewdeletetrainerController</servlet-name>
        <url-pattern>/viewdeletetrainerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatetrainer</servlet-name>
        <url-pattern>/Updatetrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edittrainer</servlet-name>
        <url-pattern>/Edittrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletemember</servlet-name>
        <url-pattern>/Deletemember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewdeletememberController</servlet-name>
        <url-pattern>/viewdeletememberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatemember</servlet-name>
        <url-pattern>/Updatemember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editmember</servlet-name>
        <url-pattern>/Editmember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewshiftController</servlet-name>
        <url-pattern>/viewshiftController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteshift</servlet-name>
        <url-pattern>/Deleteshift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewdeleteshiftController</servlet-name>
        <url-pattern>/viewdeleteshiftController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updateshift</servlet-name>
        <url-pattern>/Updateshift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editshift</servlet-name>
        <url-pattern>/Editshift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shift</servlet-name>
        <url-pattern>/shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainercontroller</servlet-name>
        <url-pattern>/trainercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainerlogout</servlet-name>
        <url-pattern>/trainerlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Memberattendance</servlet-name>
        <url-pattern>/Memberattendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
